@import "tailwindcss";
@plugin '@tailwindcss/typography';

body {
  @apply bg-slate-900 font-mono text-slate-300;
}

.caret {
  @apply border-r-2 border-white;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* Light variant like light:bg-sky-50 */
@custom-variant light (&:where(.light, .light *));

/* Thanks gpt for the help on making the code background extend more than content height, color choices are mine though */
.prose code {
  @apply inline-flex h-6 items-center rounded bg-slate-900 px-2 font-normal text-slate-300;
}

.prose code::before,
.prose code::after {
  content: none;
}

.prose blockquote {
  @apply text-slate-400
}